<!DOCTYPE html>
<html>
	<body>
		<table border="1" width="1000" height="600">
			<tr>
				<td>Photo</td> 
				<td><img height="256" width="256" src="{{photo}}"/></td>
			</tr>
			<tr>
				<td>Celeb ID:</td> 
				<td><input type="text" name="celebID" value="{{celebID}}" readonly/></td>
			</tr>
			<tr>
				<td>First Name </td>
				<td>{{firstname}}</td>
			</tr>
			<tr>
				<td> Last Name </td>
				<td> {{lastname}} </td>
			</tr>
			<tr>
				<td> Age </td>
				<td> {{age}} </td>
			</tr>
			<tr>
				<td> Email </td>
				<td> {{email}} </td>
			</tr>
			<tr>
				<td> Bio </td>
				<td> {{bio}} </td>
			</tr>
		</table>
	</body>
</html>