<!DOCTYPE html>
<html>
	<body>
		<table border ="5">
			{% for row in rows %}
			<tr>
				<td> Photo </td> <td> <img height="256" width="256" src="{{row[5]}}"/> </td>
			</tr>
			<tr>
				<td> Celebrity ID </td> <td>{{row[0]}}</td>
			</tr>
			<tr>
				<td> First Name </td> <td>{{row[1]}}</td>
			</tr>
			<tr>
				<td> Last Name</td> <td>{{row[2]}}</td>
			</tr>
			<tr>
				<td>Age</td> <td>{{row[3]}}</td>
			</tr>
			<tr>
				<td>Email</td> <td>{{row[4]}}</td>
			</tr>
			<tr>
				<td>Bio</td> <td>{{row[6]}}</td>
			</tr>
			<tr>
				<td colspan="2"><br> </td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>
